body {
  margin: 0;
  font-family: Arial;
}

/* -------- LOGIN PAGE -------- */

.auth-body {
  background: linear-gradient(#aee1ff, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-box {
  background: white;
  padding: 25px;
  border-radius: 18px;
  width: 90%;
  max-width: 360px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-box h2 {
  color: #1d7ed6;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #bcd8f5;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  background: #1d7ed6;
  color: white;
  border: none;
}

.secondary {
  background: #9ec9ff;
}

.link {
  color: #1d7ed6;
  margin-top: 8px;
  cursor: pointer;
}

.divider {
  border-top: 1px solid #d9e8ff;
  margin: 12px 0;
}

/* -------- CHAT PAGE -------- */

.chat-body {
  background: #e8f4ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background: #1d7ed6;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invite-btn {
  background: white;
  color: #1d7ed6;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
}

.invite-box {
  padding: 10px;
  background: #dff0ff;
}

.hidden {
  display: none;
}

.chat-window {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
}

/* message bubbles */
.msg {
  padding: 10px 12px;
  border-radius: 12px;
  max-width: 70%;
  margin-bottom: 10px;
}

.me {
  background: #cfe6ff;
  margin-left: auto;
}

.other {
  background: white;
  border: 1px solid #d6e7ff;
}

.chat-input-bar {
  display: flex;
  gap: 6px;
  padding: 10px;
  background: white;
}

.chat-input-bar input {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #bdd9ff;
}

.chat-input-bar button {
  padding: 10px 16px;
  border-radius: 12px;
  border: none;
  background: #1d7ed6;
  color: white;
}
